/*-----------------------------------=========Main-Style-Sheet=========----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Bold.woff2') format('woff2'),
      url('webfonts/MyriadPro-Bold.woff') format('woff'),
      url('webfonts/MyriadPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro Cond';
  src: url('webfonts/MyriadPro-Cond.woff2') format('woff2'),
      url('webfonts/MyriadPro-Cond.woff') format('woff'),
      url('webfonts/MyriadPro-Cond.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Regular.woff2') format('woff2'),
      url('webfonts/MyriadPro-Regular.woff') format('woff'),
      url('webfonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Light.woff2') format('woff2'),
      url('webfonts/MyriadPro-Light.woff') format('woff'),
      url('webfonts/MyriadPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Myriad Pro';
  src: url('webfonts/MyriadPro-Semibold.woff2') format('woff2'),
      url('webfonts/MyriadPro-Semibold.woff') format('woff'),
      url('webfonts/MyriadPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-Italic.woff') format('woff'),
      url('webfonts/LucidaSans-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-Demi.woff') format('woff'),
      url('webfonts/LucidaSans-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-DemiItalic.woff') format('woff'),
      url('webfonts/LucidaSans-DemiItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-Italic_1.woff') format('woff'),
      url('webfonts/LucidaSans-Italic_1.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-Demi_1.woff') format('woff'),
      url('webfonts/LucidaSans-Demi_1.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans.woff') format('woff'),
      url('webfonts/LucidaSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-DemiItalic_1.woff') format('woff'),
      url('webfonts/LucidaSans-DemiItalic_1.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-Demi_2.woff') format('woff'),
      url('webfonts/LucidaSans-Demi_2.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-DemiItalic_2.woff') format('woff'),
      url('webfonts/LucidaSans-DemiItalic_2.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-Bold.woff') format('woff'),
      url('webfonts/LucidaSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans-Demi_3.woff') format('woff'),
      url('webfonts/LucidaSans-Demi_3.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans_1.woff') format('woff'),
      url('webfonts/LucidaSans_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans_2.woff') format('woff'),
      url('webfonts/LucidaSans_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lucida Sans';
  src: url('webfonts/LucidaSans_3.woff') format('woff'),
      url('webfonts/LucidaSans_3.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift.woff') format('woff'),
      url('webfonts/Bahnschrift.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_1.woff') format('woff'),
      url('webfonts/Bahnschrift_1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_2.woff') format('woff'),
      url('webfonts/Bahnschrift_2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_3.woff') format('woff'),
      url('webfonts/Bahnschrift_3.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_4.woff') format('woff'),
      url('webfonts/Bahnschrift_4.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_5.woff') format('woff'),
      url('webfonts/Bahnschrift_5.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_6.woff') format('woff'),
      url('webfonts/Bahnschrift_6.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_7.woff') format('woff'),
      url('webfonts/Bahnschrift_7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_8.woff') format('woff'),
      url('webfonts/Bahnschrift_8.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_9.woff') format('woff'),
      url('webfonts/Bahnschrift_9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_10.woff') format('woff'),
      url('webfonts/Bahnschrift_10.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_11.woff') format('woff'),
      url('webfonts/Bahnschrift_11.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_12.woff') format('woff'),
      url('webfonts/Bahnschrift_12.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_13.woff') format('woff'),
      url('webfonts/Bahnschrift_13.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bahnschrift';
  src: url('webfonts/Bahnschrift_14.woff') format('woff'),
      url('webfonts/Bahnschrift_14.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Microsoft PhagsPa';
  src: url('webfonts/MicrosoftPhagsPa.woff2') format('woff2'),
      url('webfonts/MicrosoftPhagsPa.woff') format('woff'),
      url('webfonts/MicrosoftPhagsPa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




:root {
  --theme__color1: #40A0A1;
  --theme__color2: #67D2D3;
  --myriad-pro: 'Myriad Pro';
  --lucida-sans: 'Lucida Sans';
  --lato: 'Lato', sans-serif;
  --bahnschrift: 'Bahnschrift';
  --microsoft-phagsPa: 'Microsoft PhagsPa';
}
*,::before,::after {
  box-sizing: border-box;
}
body {
  font-size: 29.26px;
  line-height: 1.5;
  background-color: #fff;
  color: #000000;
  overflow-x: hidden;
  word-wrap: break-word;
  word-break: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: var(--myriad-pro);
}
a, a:active, a:focus, a:active, a:hover {
  text-decoration:none !important;
  color: inherit;
}
input{
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
a:hover,
a:focus,
input:focus,
input:hover,
select:focus,
select:hover,
select:active,
textarea:focus,
textarea:hover,
button:focus {
  outline: none;
}
::placeholder {
  opacity: 1;
}
:focus::placeholder {
  opacity: 0;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed; /* Prevents HTML tables from becoming too wide */
  width: 100%;
}
img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
iframe {
  width: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
  font-weight: 700;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
p{
  margin-bottom: 15px;
}
p:last-child{
  margin: 0;
}
.main-wrap {
  width: 100%;
  overflow: hidden;
}
@media (max-width: 1799px) and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1800px) {
  .container {
    max-width: 1625px;
  }
}



/* header */
.header-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: var(--theme__color1);
  color: #fff;
}
.header-in {
  padding: 22px 0;
}
.header-section__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.header__left {
  display: flex;
  align-items: center;
  gap: 22px;
}
.hl-button {
  padding: 13px;
  width: 228px;
  min-height: 92px;
  gap: 15px;
  font-size: 16.2px;
  color: #fff;
  background: #282828;
  display: flex;
  align-items: center;
}
.hl-button .txt {

}
.hl-button .icon {
  width: 41px;
  flex-shrink: 0;
}
.hl-button .icon img {

}

.main-menu {

}
.main-menu > ul {
  display: flex;
  align-items: center;
  gap: 44px;
}
.main-menu > ul > li {

}
.main-menu > ul > li > a {
  font-size: 32px;
  font-family: var(--lucida-sans);
}
.main-menu > ul > li > a:hover {

}
/* header-end */







/* ---offcanvas-css--- */
.offcanvas-open {
  font-size: 34px;
  transition: 0.3s;
  line-height: 1;
  position: absolute;
  top: 26px;
  right: 15px;
  color: #fff;
}
.offcanvas-open:hover {
  color: #97A3AE;
}
.offcanvas-close {
  color: var(--theme__color1);
  position: absolute;
  transition: 0.3s;
  right: 15px;
  top: 15px;
  line-height: 1;
  font-size: 22px;
}
.offcanvas-close:hover {
  color: #97A3AE;
}
.offcanvas-menu {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-105%);
  transition: 0.3s;
}
.offcanvas-menu.active {
  transform: translate(0);
}
.offcanvas-menu .offmenu {
  max-width: 250px;
  min-width: 200px;
  z-index: 5;
  position: relative;
  background: #fff;
  height: 100%;
  padding: 50px 20px 40px;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.offcanvas-menu .offmenu :-webkit-scrollbar {
  display: none;
}
.mobile-menu li a {
  display: block;
  font-size: 16px;
  color: var(--theme__color1);
  padding: 7px;
}
.dropdown-menu-custom ul {
  background: #fff;
  padding: 20px 0;
}
.dropdown-menu-custom ul li a {
  color: #97A3AE;
}
.offcanvas-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.178);
  z-index: 2;
  transform: 0;
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.offcanvas-overlay.active {
  opacity: 1;
  visibility: visible;
}
/* ---offcanvas-css-end---*/

/* --preloader-- */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid var(--theme__color1);
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
@keyframes animate-preloader {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
/* --preloader-end-- */


/* ---hero-section--- */
.hero-section {
  background: url('images/hero.png') no-repeat center center/cover;
  min-height: 945px;
  position: relative;
  z-index: 2;
}
.hero-logo {
  width: 260px;
  top: 25px;
  left: 25px;
  z-index: 2;
  position: absolute;
  display: block;
}
.hero-logo img  {

}

.hero-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-video-bg video {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  flex-shrink: 0;
}
/* ---hero-section---end */


/* ---common--- */
.h2 {
  font-size: 55px;
  font-weight: 400;
  font-weight: var(--bahnschrift);
}
.h3 {
  font-size: 42px;
  margin: 0 0 38px;
  line-height: 1.15;
}
.cont-blk {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.cont-blk p {
  line-height: 1.25;
  margin: 0 0 34px;
  font-family: var(--lato);
}
.cont-blk--center {
  align-items: center;
  text-align: center;
}
.sec-title {
  margin-bottom: 122px;
}
/* ---common---end */


/* ---deserve-section--- */
.deserve-section {
  padding: 170px 0 205px;
}
.deserve-section__inner {

}
.deserve-section__title {

}

.deserve__row {
  --bs-gutter-x: 10px;
  --bs-gutter-y: var(--bs-gutter-x);
  align-items: center;
}
.deserve__row__image {

}
.deserve__row__image img {

}
.deserve__row__content {
  padding-left: 80px;
}
.deserve__row__content h3 {

}
.deserve__row__content p {

}
/* ---deserve-section---end */



/* ---better-section--- */
.better-section {
  background: url('images/better-bg.png') no-repeat center center/cover;
}
.better-section__inner {
  min-height: 965px;
  position: relative;
}
.better-build-logo {
  width: 588px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.better-build-logo img {

}
/* ---better-section---end */


/* ---services-section--- */
.services-section {
  padding: 185px 0;
}
.services-section__inner {

}
.services-section__title {
  padding-bottom: 15px;
}

.services__row {

}
.services__row__content {

}
.services__row__content h3 {
  padding-bottom: 10px;
}
.ul-x {

}
.ul-x li {
  font-family: var(--microsoft-phagsPa);
  line-height: 1.23;
}
.services__row__image {

}
.services__row__image img {

}
/* ---services-section---end */


/* ---projects-section--- */
.projects-section {
  padding: 210px 0 200px;
}
.projects-section__inner {

}
.projects-section__title {
  margin: 0 0 95px;
}

.projects__card__row {
  --bs-gutter-x: 74px;
  --bs-gutter-y: var(--bs-gutter-x);
}
.project-card {

}
.project-card__title {
  padding: 0 0 30px;
  text-align: center;
}
.project-card__title h3 {
  font-size: 34px;
  font-weight: 400;
  font-weight: var(--bahnschrift);
}
.project-card__image {

}
.project-card__image img {
  width: 100%;
}
/* ---projects-section---end */



/* ---contact-section--- */
.contact-section {
  padding: 175px 0 190px;
  background: #000;
  color: #fff;
}
.contact-section__inner {

}
.contact-section__title {
  margin: 0 0 86px;
}

.contact-form {
  max-width: 1010px;
  margin: 0 auto;
}
.contact-form__main {

}
/* ---contact-section---end */


/* ---input-x--- */
.single-input-x {
  margin-bottom: 86px;
  width: 100%;
}
.input-x-outer {
  width: 100%;
}
.input-x {
  font-size: 32px;
  padding: 20px 20px;
  min-height: 90px;
  font-weight: 300;
  width: 100%;
  border: 3px solid var(--theme__color2);
  color: #9B9999;
  background: transparent;
  text-align: center;
}
.input-x.big {
  min-height: 260px;
}
.input-x-submit {
  font-size: 30.85px;
  min-height: 70px;
  padding: 10px;
  min-width: 264px;
  font-weight: 700;
  font-family: var(--bahnschrift);
  color: #fff;
  background: var(--theme__color1);
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
}
.input-x-submit:hover {
  background: var(--theme__color2);
}
/* ---input-x---end */



/* ---cta-section--- */
.cta-section {
  padding: 158px 0;
}
.cta-section__inner {

}

.cta__row {

}
.cta__single {

}
.cta__single h4 {
  margin: 0 0 3px;
  font-size: 32.91px;
  line-height: 1.17;
}
.cta__single h5 {
  font-size: 32.91px;
  font-weight: 400;
  line-height: 1.17;
}
/* ---cta-section---end */


/* ---footer-section--- */
.footer-section {
  padding: 190px 0 30px;
}
.footer-section__inner {

}

.copy-right {
  font-size: 25.6px;
  gap: 7px;
  font-weight: 400;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copy-right .txt {

}
.copy-right .in-logo {
  width: 178px;
  vertical-align: middle;
}
/* ---footer-section---end */